<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <smtp>
        <!--
        <enableSsl>false</enableSsl>
        <host>localhost</host>
        <port>25</port>
        <defaultCredentials>true</defaultCredentials>
        -->
    </smtp>

    <applications>
        <application>
            <name>Application Name</name>
            <sender>from@test</sender>
            <recipients>
                <recipient>to@test</recipient>
            </recipients>
            <carbonCopies>
                <carbonCopy>cc@test</carbonCopy>
            </carbonCopies>
            <blindCarbonCopies>
                <blindCarbonCopy>bcc@test</blindCarbonCopy>
            </blindCarbonCopies>
            <subject>Email Subject</subject>
            <!--
            <isBodyHtml>true</isBodyHtml>
            -->
        </application>
    </applications>
</configuration>