<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <smtp xdt:Transform="Replace">
        <enableSsl>false</enableSsl>
        <host>smtp.server</host>
        <port>25</port>
        <defaultCredentials>true</defaultCredentials>
    </smtp>

    <applications xdt:Transform="Replace">
        <application>
            <name>SQL Mailer</name>
            <sender>sender@release</sender>
            <recipients>
                <recipient>recipient@release</recipient>
            </recipients>
            <subject>Email Subject</subject>
            <isBodyHtml>true</isBodyHtml>
        </application>
    </applications>
</configuration>